body {
    width: 1100px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

header {
    padding-top: 92px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: 400;
    align-items: stretch;
}

header nav {
    padding-top: 44px;
    padding-left: 25px;
}

.header-links {
    display: flex;
    padding-left: 25px;
    gap: 32px;
    line-height: 21px;
    list-style-type: circle;
}

.underline {
    text-underline-offset: 4px;
}

.header-links a:hover {
    background-color: dimgrey;
    padding: 5px 0;
    border-radius: 8px;
    color: white;
}

.main-link {
    list-style: none;
    text-decoration: none;
}

.main-link a {
    text-decoration: none;
}

header .logo {
    padding-left: 36px;
}

header .logo:hover {
    opacity: 0.5;
}

header img {
    width: 148px;
    height: 105px;
}

header .contacts {
    padding-left: 185px;
    padding-top: 6px;
}

.contacts ul {
    list-style-type: none;
    line-height: 24px;
}

.contacts li {
    letter-spacing: 0.01em;
}

main {
    padding-top: 92px;
}

.shadow {
    box-shadow: 0 1px #00000040, inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.jumbotron {
    min-height: 757px;
    width: 100%;
    text-transform: uppercase;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

h1 {
    margin: auto;
    width: 1000px;
    padding-top: 165px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: left;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
    line-height: 1.3em;
    padding-top: 5px;
}

.text-right {
    text-align: right;
    line-height: 1.1em;
}

.jumbotron-content {
    padding-top: 131px;
    padding-left: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-caption {
    flex: 0 0 70%;
}

.column-key {
    flex: 0 0 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.jumbotron p {
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
}

.spacing-overload {
    letter-spacing: 0.9em;
}

.spacing-huge {
    letter-spacing: 0.8em;
}

.wordspace-jumborton-text {
    word-spacing: 0.8em;
}

.jumbotron button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    background-color: transparent;
    color: currentColor;
    padding: 11px 31px;
    margin-left: 2px;
    border: 1px solid currentColor;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.jumbotron button:hover {
    background-color: white;
    color: black;
}

.lots {
    width: 1052px;
    margin: 0 auto;
    padding-top: 179px;
    color: white;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: black;
}

.lots h2 {
    text-indent: 40px;
}

.lots ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 25px;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 27px;
}

.lot-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    min-width: 334px;
}

.lot-item a {
    text-decoration: none;
}

.lot-card {
    display: flex;
    flex-direction: column;
    min-height: 563px;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
}

.lot-card h3 {
    width: 254px;
    padding-top: 52px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-align: left;
    align-self: center;
}

.lot-card p {
    position: relative;
    padding-bottom: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 254px;
}

.three-dots {
    letter-spacing: 0.1em;
}

.art-director {
    background-image: url('../images/card-lot-01.jpg');
}

.art-agent {
    background-image: url('../images/card-lot-02.jpg');
}

.art-painting {
    background-image: url('../images/card-lot-03.jpg');
}

.more-info {
    display: block;
    padding-top: 30px;
    text-indent: 40px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
}

.auction {
    padding-top: 117px;
    width: 1052px;
    margin: 0 auto;
    display: flex;
}

.column-logo {
    width: 34%;
    padding-top: 34px;
    padding-left: 47px;
}

.circle {
    background: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    padding-left: 47px;
    padding-top: 65px;
}

.circle img {
    height: 114px;
    width: 148px;
}

.column-text {
    width: 66%;
}

.auction h2 {
    padding: 135px 0 100px 2px;
}

.auction p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.spacing-none {
    letter-spacing: 0;
}

.spacing-narrow {
    letter-spacing: 0.01em;
}

.spacing-medium {
    letter-spacing: 0.02em;
}

.spacing-wide {
    letter-spacing: 0.03em;
}

.spacing-very-wide {
    letter-spacing: 0.04em;
}

.spacing-extra {
    letter-spacing: 0.11em;
}

.spacing-widest {
    letter-spacing: 0.6em;
}


.auction p + p {
    margin-top: 24px;
}

footer {
    display: flex;
    width: 1000px;
    padding-top: 180px;
    padding-bottom: 88px;
    margin: 0 auto;
    font-size: 18px;
}

.footer-column {
    flex: 1;
    justify-items: center;
    align-items: start;
}

.footer-links {
    line-height: 21px;
    text-align: center;
}

.footer-links ul {
    list-style-type: none;
}

/*.footer-links a {
    text-underline-offset: 4px;
}*/

.socials {
    display: flex;
    justify-content: flex-end;
    width: 240px;
    list-style-type: none;
    gap: 48px;
}

.socials img {
    width: 48px;
    height: 48px;
}

.socials img:hover {
    opacity: 0.5;
}

/*
.socials li a {
    text-decoration: none;
    border: 0;
}*/
